{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Подтверждение электронной почты</title>
</head>
<body>
    <div style="margin-left: 120px; margin-top: 200px; border: 1px solid black; width: 560px; height: 200px; margin-left: 480px;">
        <p align="center" style="font-family: Helvetica; font-size: 27px;">Подтверждение электронной почты</p>
        <p align="center" style="font-family: Helvetica; margin-top: 50px;">
            На почту, указанную в регистрации, отправлено письмо.
            <br>
            Перейдите по ссылке в нём для завершения регистрации.
        </p>
    </div>
</body>
</html>
