{% extends 'baseapp/layout.html' %}


{% block title %}
    Обратная связь
{% endblock %}

{% block head %}
    <style>
        #centerLayer {
            position: absolute; /* Абсолютное позиционирование */
            width: 560px; /* Ширина слоя в пикселах */
            height: 360px; /* Высота слоя в пикселах */
            left: 50%; /* Положение слоя от левого края */
            top: 50%; /* Положение слоя от верхнего края */
            margin-left: -280px; /* Отступ слева */
            margin-top: -200px; /* Отступ сверху */
            background: #fff; /* Цвет фона */
            border: solid 1px black; /* Параметры рамки вокруг */
            padding: 10px; /* Поля вокруг текста */
            overflow: auto; /* Добавление полосы прокрутки */
        }
    </style>
{% endblock %}

{% block body %}
    <div id="centerLayer">
        <div style="margin-top: 70px; margin-left: 50px; width: 440px; height: 220px;">
            <p style="font-size: 23px;margin-top: 80px;text-align: center;font-family: Helvetica;">Обратная связь</p>
            <p style="font-size: 17px;margin-top: 10px;text-align: center;font-family: Helvetica;">
                Если у вас есть вопросы или предложения, заполните, пожалуйста, эту форму:
                <a href="https://clck.ru/S896t">клик</a>
            </p>
            <p style="font-size: 17px;margin-top: 10px;text-align: center;font-family: Helvetica;">Или свяжитесь с нами по почте: david.dshvsk@gmail.com</p>
        </div>
    </div>
{% endblock %}
